<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <title>Delete Planet</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}"/>
</head>
<body >
<h1 th:align="center">Delete a Planet:</h1>



<form th:action="@{/deletePlanet}"
      th:object="${planetForm}" th:align="center" method="POST">
    Name:
    <input type="text" th:field="*{name}" />
    <br/>
    <input type="submit" value="Delete" />
</form>


<br/>
<ul th:align="center">
    <a href="index" th:align="center">Start page</a>
</ul>
<!-- Check if errorMessage is not null and not empty -->

<div th:if="${errorMessage}" th:utext="${errorMessage}" th:align="center"
     style="color:orangered;font-style:italic;">
    ...
</div>

<div th:if="${errorNothingMessage}" th:utext="${errorNothingMessage}" th:align="center"
     style="color:orangered;font-style:italic;">
    ...
</div>

</body>
</html>